* { font-family: arial, sans-serif; }
table, tr, td { border: 1px solid black; }
table {
    width: 100%;
    table-layout: fixed;
}
td { text-align: center; }
td > img { width: 100%; }
nav {
    background-color: aquamarine;
    padding: 1em;
}
nav > p { margin: 0; }
body { margin: 0; }
.button, .button-secondary {
    padding: 0.5em;
    background-color: darkblue;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    text-decoration: none;
    color: white;
}
.button-secondary { background-color: darkgreen; }
.button:hover { background-color: blue; }
.button-secondary:hover { background-color: green; }
ul { list-style-type: none; }
ul > li { margin: 2em auto; }
main { padding: 1em; }
main table { width: auto; }
main td { text-align: left; }