table {
    width: 80%;
    margin: 0 auto;
    background-color: lavender;
    border-collapse: collapse;
    table-layout: fixed;
}
td {
    width: 30%;
    text-align: center;
}
th { font-size: 2em; }
body { background-color: wheat; }
table, td, th { border: 1px solid black; }
